# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
services/web-api/node_modules
services/web-client/node_modules

# build folders
services/web-api/dist
services/web-client/dist

# tern
.tern-port

# database yarn cache
volumes

